  <header class="header">
    <div class="header__container">
      <span class="header__brand">Calblanque</span>

      <nav class="header__nav">
        <ul class="header__menu">
          <li>
            <a href="#about" class="header__link">
              <i class="fa-solid fa-mountain-sun" aria-hidden="true"></i>
              Sobre
            </a>
          </li>
          <li>
            <a href="#gallery" class="header__link">
              <i class="fa-solid fa-images" aria-hidden="true"></i>
              Galería
            </a>
          </li>
          <li>
            <a href="#info" class="header__link">
              <i class="fa-solid fa-circle-info" aria-hidden="true"></i>
              Info
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>